/* Menu */

label {
  display: block;
  cursor: pointer;
}
.menu {
  text-align: center;
  width: 100%;
  display: none;
}
.menu a {
  display: block;
  border-bottom: 1.5px solid #EAEAEB;
  margin: 0;
}
#toggle {
  display: none;
}

#toggle:checked + .menu {
  display: block;
}

/* Hero */

