/* Menu */

label {
  display: block;
  cursor: pointer;
}

.menu {
  text-align: center;
  width: 100%;
  display: none;
}

.menu a {
  display: block;
  border-bottom: 1px solid #EAEAEB;
  margin: 0;
  z-index: 1;
  background: rgb(131, 79, 126);
  opacity: 1;
}

.nav {
  border-radius: 0;
}

#toggle {
  display: none;
}

#toggle:checked + .menu {
  display: block;
}

/* Hero */

.background-img-hero {
  width: 100%;
  opacity: 0.8;
  z-index: -1;
}

.hero-text {
  letter-spacing: 0em;
  letter-spacing: 0em;
  text-align: center;
  line-height: 1.3em;
  transition-duration: 0.7s;
  font-size: 35px;
  padding-top: 8%;
  font-weight: bold;
}

.about-me-container{
  display:block;
}

.my-foto {
  width: 0%;
  padding-left: 20%;
 }

 .about-me-text{
  line-height: 1.5em;
  padding-bottom: 50px;
  padding-top: 20px;
  width: 60%;
  font-size: 14px;
}

 .custom-spacing {
  padding: 0px;
}

h2 {
  text-align: center;
  padding-bottom: 30px;
  font-weight: bold;
  font-size: 25px;
}

#skills {
  background: #e3e4e7a2;
}