/* Menu */

label {
  display: block;
  cursor: pointer;
}
.menu {
  text-align: center;
  width: 100%;
  display: none;
}
.menu a {
  display: block;
  border-bottom: 1px solid #EAEAEB;
  margin: 0;
  z-index: 1;
  background: rgba(131, 79, 126, 0.267);
  opacity: 1;
  
}

.nav {
  border-radius: 0;
}
#toggle {
  display: none;
}

#toggle:checked + .menu {
  display: block;
}

/* Hero */

.background-img-hero {
  width: 100%;
  opacity:1;
  z-index: -1;
  min-height: 800px;
}

